# Ignore .DS_Store everywhere
/**/.DS_Store

# Ignore Angular artifacts
node_modules
.angular
dist

# Ignore embedded games
/**/game_embed/

# Ignore assets from David's Cookie Craving
1styear/*/assets/
1styear/*/js/
1styear/*/node_modules
1styear/*/styles/
