<header class="site-header">
  <div class="wrapper">
    <span class="site-title">Annual Saga</span>
  </div>
</header>

<main class="page-content">
  <div class="wrapper">
    <h1>About</h1>
    <p>The Annual Saga is a planned multimedia franchise that pays tribute to the 1990s and 2000s. The following are key tenets that will be used to build this franchise:</p>
    <ul>
      <li><b>Multimedia Approach:</b> this Annual Saga will consist of video games, comic books, television shows, movies, and a trading card game.</li>
      <li><b>Yearly Installments:</b> entries released each year will be tied together with common themes and aesthetics.</li>
      <li><b>Cultural Significance:</b> the Annual Saga will provide commentary on technology, trends, psychology, philosophy, and politics.</li>
      <li><b>Personal Touch:</b> the Annual Saga will contain autobiographical elements and personal anecdotes to provide a unique flavor to this franchise.</li>
    </ul>
    <p>
      <a href="https://drive.google.com/drive/folders/0B6u9B3nKQJbgQmFHWngyODB5TW8?usp=sharing">View the folder in Google Docs</a>
    </p>
  </div>
</main>

<footer class="footer">
  <div class="wrapper">
    <span>&copy; 2023 Dan Lester Dela Rosa</span>
  </div>
</footer>
